/* master */
.item-left {
    float: left;
}

.item-right {
    float: right;
}

ul {
    list-style: none;
}

.container-fluid {
    padding: 0!important;
}

label {
    margin: 0!important;
}

.inner {
    margin: 0 150px;
}
/* header */
.header {
    height: 4rem;
    width: 100%;
}

.logo {
    height: 38px;
    padding: 5px 24px 0;
}

.search {
    border: solid rgb(235, 235, 235);
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    padding-bottom: 8px;
}

.search:hover {
    box-shadow: rgba(26, 26, 29, 0.08) 0px 4px 12px;
    transition-duration:0.2s;
}

.search-text{
    transition-duration:0.3s;
    width: 415px;
  }

.search-text:focus {
    width: 555px;
  }

.search span {
    display: inline-block;
    margin: 8px 8px 0 13px;
    font-size: 20px;
}

.search input {
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.link {
    display: inline-block;
    color: rgb(72, 72, 72);
    margin: 12px 15px 12px 15px;
    font-size: 14px;
    font-weight: bold;
}

.link:hover {
    color: rgb(72, 72, 72);
    text-decoration: none;
    border-bottom: solid rgb(118, 118, 118);
    border-width: 2px;
    padding-bottom: 28px;
    margin-bottom: 0px;
}

/* Main*/
.background {
    background: #fff url(../images/background.jpg) no-repeat center center / cover;
    height: 100vh;
    position: relative;
}

.main-caption {
    position: absolute;
    top: 200px;
    left: 90px;
    color: white;
}

.main-caption h1 {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 20px;
}

.main-caption h2 {
    font-size: 20px;
    margin-bottom: 40px;
}

.main-caption a {
    color: rgb(72, 72, 72);
    border: solid white;
    border-radius: 3px;
    background-color: white;
    font-weight: bold;
    padding: 10px 20px;

}

.main-caption a:hover {
   text-decoration: none;
   color: rgb(72, 72, 72);
}

/* Function */
.function {
    padding-bottom: 30px!important;
}
.function h2 {
    font-weight: bold;
    color:rgb(72, 72, 72);
    margin: 45px 0;
    width: 100%;
    text-align: center;
}

.function i {
    color:rgb(0, 122, 135);
    font-size: 45px;
    margin-bottom: 25px;
}

.function h3 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(72, 72, 72);
    margin-bottom: 20px;
}

.function p {
    color: rgb(118, 118, 118);
}

/* Register */
.register {
    background-color: rgb(0, 122, 135);
    margin-bottom: 50px;
}

.register img {
    padding: 50px 0 20px;
}

.register h2 {
    color: white;
    font-weight: bold;
    margin-bottom: 14px;
}

.register h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 45px;
}

.register-btn a {
    font-weight: bold;
    font-size: 16px;
    padding: 9px 27px;
    background-color: #ff5a5f;
    color: white;
    margin-bottom: 15px;
}

.register-btn a:hover {
    color: white;
    background-color:rgb(255, 126, 130);
}

.explain a {
    color:rgb(255, 255, 255);
    font-size: 14px;
    opacity: 0.6;
    display: inline-block;
    margin-bottom: 45px;
}

.explain a:hover {
    color:rgb(255, 255, 255);
    opacity: 1;
    text-decoration: none;
}

/* Links */
.links {
    padding-top: 30px;
    width: 85%!important;
}

.links h3 {
    font-size: 14px;
    margin-bottom: 15px;
    color:rgb(72, 72, 72);
    font-weight: 800;
}

.links ul {
    padding: 0;
}

.links a {
    color:rgb(118, 118, 118);
    font-size: 14px;
    font-weight: 600;
}

.links a:hover {
    color:rgb(118, 118, 118);
    font-size: 14px;
    font-weight: 600;
}

.link-span {
    color: #fff;
    background-color: rgb(0, 106, 112);
    font-size: 12px;
    display: inline-block;
    padding: 0.5px 5px 0.3px;
    border-radius: 4px;
    margin-left: 10px;
    font-weight: 600;
}

.link-icon {
    color:rgb(118, 118, 118);
    font-size: 18px;
    margin: 0 8px 15px 5px;
}

hr {
    margin-top: 0!important;
}

/* footer */
.footer-left {
    float: left;
    display: flex;
    
}

.footer-right {
    float: right;
}

.footer span {
    font-size: 22px;
    color:rgb(118, 118, 118);
    line-height: 50px;
    margin-right: 10px;
}

.left-item {
    display: inline-block;
    line-height: 18px;
    font-size: 14px;
}

.left-item a:hover {
    color:rgb(118, 118, 118);
}

.left-item p {
    color:rgb(118, 118, 118);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 40px;
}

.footer-right button {
    color:rgb(118, 118, 118);
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: solid 1px rgb(242, 242, 242);
    border-radius: 5px;
    padding: 5px 12px;
    margin-top: 10px;
    margin-left: 8px;
}

.footer-right button:hover {
    background-color:rgb(242, 242, 242);
}

button {
    display: inline-block;
}